h1{
	text-align: center;
}
.container{
	background: linear-gradient(to bottom left, #ccffff 0%, #ffccff 100%);
	height: 100vh;
	width: 100%;
}
img {
	width: 80%;
	height: 100px;
}
#loginimg{
	height: 200px;
	width: 150px;

}


.form-group{
	text-align: left;	

}
.fa-facebook {
  background: #3B5998;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}


.fa-google {
  background: #D63924;
  color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.form{
	background: linear-gradient(to bottom left, #33ccff 0%, #009999 100%);
	border-radius: 25px;
	margin-top: 20px;
	margin-bottom: 20px;


}

.qaimages{
	margin-top: 50px;
	margin-bottom: 10px;
	
	width: 100%;
	height: 100%;
}
.btn-danger{

	color: #fff;
    background-color: #D3413C;
    border-color: #d43f3a;
}
.btn-success {
    color: #fff;
    background-color:#3E843E;
    border-color: #4cae4c;
}



.footer {
    margin-top: 93px;
    background: #333;
    color: white;
    text-align: center;
    height: 80px;
    padding: 10px;
}

.a-span { height: 1px; 
	width: 1px; 
	position: absolute;
	 overflow: hidden; 
	 top: -10px; }